*, *::after, *::before{
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

// Variables
$color-cyan: hsl(158, 36%, 37%);
$color-cream: hsl(30, 38%, 92%);
$color-very-dark-blue: hsl(212, 21%, 14%);
$color-dark-grayish-blue: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);
$body: 14px;
$ff-fraunces: 'Fraunces', serif;
$ff-montserrat: 'Montserrat', sans-serif;

html, body{
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-cream;
}

.main{
  max-width: 760px;
  height: 470px;
  overflow: hidden;
  margin: auto;
  display: flex;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  background-color: $color-white;
}

.image {
  background-image: url('./images/image-product-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // border-top-left-radius: 1em;
  // border-bottom-left-radius: 1em;
  width: 23em;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper-text{
  width: 23em;
  padding: 2em;
  .category{
    font-family: $ff-montserrat;
    font-weight: 500;
    font-size: 1.2em;
    color: $color-dark-grayish-blue;
    padding-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .heading{
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
  }
  .info{
    color: $color-dark-grayish-blue;
    font-size: 1em;
    padding-bottom: 1em;
    font-family: $ff-montserrat;
    max-width: 25ch;
    line-height: 1.5;
  }
  .prices{
    display: flex;
    margin-bottom: 1em;
    .final-price{
      color: $color-cyan;
      font-weight: 700;
      font-family: $ff-fraunces;
      font-size: 2.5em;
    }
    .discount-price{
      margin-left: 2em;
      font-weight: bold;
      align-self: center;
      text-decoration: line-through;
      color: $color-dark-grayish-blue;
    }
  }
}

.cart{
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-cyan;
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  color: $color-white;
  outline: 0;
  border: 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  span{
    margin-left: .5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;

  a{
    color: hsl(228, 45%, 44%);
  }
}

@media (max-width: 761px){
  .main{
    flex-direction: column;
    flex-wrap: wrap;
    display: initial;
    height: 45em;
  }
  .image{
    height: 15em;
    background-position: 50% 45%;
    width: 25em;
  }
  .wrapper-text {
    width: 25em;
    padding: 2em;
  }
  .wrapper-text .info{
    max-width: 100%;
  }
}